$dark: #848484;
$primary: #FF4E4E;

$navbar-tab-active-border-bottom-color: #FFFFFF;
$navbar-tab-active-color: #FFFFFF;
$navbar-item-active-background-color: #777777;
$navbar-item-hover-background-color: #777777;
$navbar-tab-active-background-color: #777777;
$link: #FF4E4E;

$menu-item-color: #FFFFFF;
$menu-item-hover-color: #FFFFFF;
$menu-item-hover-background-color: #FF4E4E;
$menu-list-line-height: 0.5em;
$menu-label-color: #FFFFFF;
$menu-label-letter-spacing: 0;
$menu-label-spacing: 0;
$menu-label-font-size: 1.5em;

$footer-background-color: #848484;
$footer-color: #FFFFFF;


@import "../node_modules/bulma/bulma.sass";

