
/* ============================================GENERAL=================================== */
html{
    scroll-behavior: smooth;
}

body {
    background: #34343400;
    color: #FFFFFF;
    overflow-x: hidden;
}

main {
    min-height: calc(100vh - 247px);
    margin: 0 auto;
    padding: 150px 0;
}

h1 {
    color: #FF4E4E;
    font-size: 3em;
    padding: 0 100px 0 0 ;
}

h2 {
    font-size: 9em;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 50px;
}

h3 {
    background-color: #ff4e4ea6;
    font-size: 3em;
    padding-left: 50px;
}

h4 {
    color: #FF4E4E;
    font-size: 4em;
    border-top: 1px solid #FF4E4E;
}

h5 {
    font-weight: bold;
    color: #848484;
    font-size: 1.1em;
}

h6 {
    font-size: 1.2em;
    color: #FF4E4E;
    font-weight: bold;
    border-top: 1px solid #FF4E4E;
    padding: 10px 5px;
    margin: 20px auto;
}

@media (max-width: 560px) {
    h2 {
        font-size: 4em;        
    }
    h3 {
        font-size: 2em;
    }
    h4{
        font-size: 1.8em;
    }
    h5 {
        font-size: 1em;
    }
}

/* ===============================================NAVBAR================================= */

.navbar {
    background: #848484;
    font-size: 1.5em;
}

a {
    transition: .1s;
}   

a:hover {
    transition: .3s;
}

.drop-item {
    font-size: 1.5em;
}

#brand-header {
    background-color: #FFFFFF;
    padding: 5px 125px 0 10px ;
    line-height: 1em;
}

/* ===============================================NAVBAR MOBILE================================= */

#mobile-menu{
    display: none;
}

i{
    display: none;
    float: right;
    padding: 20px;
}

i img {
    max-height: 30px;
}

@media (max-width: 1023px) {
    i{
        display: block;
    }

    .navbar-menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        text-align: center;
        left: -100%;
        padding-top: 50px;
    }

    .navbar-link{
        color: #FFF;
    }
    
    .navbar-item {
        color: #FFF;
        font-size: 1.5em;
    }

    #mobile-menu:checked ~ .navbar-menu {
        left: 0;
        transition: .5s;
    }
}

/* =====================================================MAIN======================================== */

.fond-body {
    position: fixed;
    z-index: -1;
    perspective: 1px;
    transform: translateZ(-1px) scale(1.5);
    min-height: 100%;
}

.bebas {
    font-family: 'Bebas Neue', Arial;
}

.banner-accueil {
    margin-bottom: 150px;
}

article {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.section-main {
    max-width: 1920px;
    margin: 0 auto;
}

p {
    line-height: 25px;
    margin: 15px 0 15px 0;
}

#signature {
    text-align: right;
}

.box-explorer {
    padding: 15px;    
}

.box-explorer a{
    display: block;
    text-align: center;
    margin-top: 40px;
}

/* ==================================================FOOTER========================================= */

#myfooter {
    padding: 1em;
}

#brand-footer {
    font-size: 3em;
    line-height: 1em;
}

.footer-icon {
    height: 3em;
    padding: 5px;
    border-radius: 5px;
}

.footer-icon:hover {
    background-color: #FF4E4E;
}

/* =======================================================CONTACT==================================== */

.form {
    max-width: 850px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 50px 30px 50px;
    border-radius: 5px;
}

.form label {
    font-size: 5em;
    color: #FF4E4E;
}

.captcha {
    background-color: #848484;
    max-width: 250px;
    padding: 15px 25px;
    margin: 20px 0;
}

#logo-captcha {
    max-height: 60px;
    margin-top: 10px;
}

#demande {
    text-transform: uppercase;
    color: #848484;
    min-width: 100%;
}

#captcha {
    margin: 5px 10px 5px 0;
}

#commentaire {
    min-height: 150px;
    resize: none;
}

.right{
    text-align: right;
}

/* ===================================================UTILITIES====================================== */

.my-button1 {
    padding: 5px 70px;
    background-color: #FF4E4E;
    color: #fff;
    font-size: 1.5em;
    border: none;
    transition: ease-in-out .3s;

}

.my-button1:hover {
    color: #fff;
    outline: 1px solid #fff;
    transition: ease-in-out .3s;
}

.my-button2 {
    padding: 5px 40px;
    background-color: none;
    color: #fff;
    font-size: 1.5em;
    border: 1px solid #FFF;
    transition: ease-in-out .3s;

}

.my-button2:hover {
    color: #FF4E4E;
    border: 1px solid #FF4E4E;
    transition: ease-in-out .3s;

}

.red-line {
    width: 80%;
    height: 1px;
    background-color: #FF4E4E;
    margin: 75px auto;
}

.img-full {
    min-height: 100%;
}

.contact {
    background: #FF4E4E;
    color: #fff;
    text-align: center;
}

#contact:active {
    background-color: #c53e3e;
}


/* =============================================================ANIMATION================================= */

.loader-container {
    height: 0vh;
    width: 0vw;
    background-color: none;
    border: 4px solid #FF4E4E;
    position: fixed;
    top: 12%;
    left: 10%;
    animation: square 1.7s ease-in-out 3 alternate;
    opacity: 0%;
}

.loader {
    height: 20px;
    width: 20px;
    background: #FF4E4E;
    animation: around .5s ease-in-out 9 running;
    animation-delay: .1s ;
    top: 0;
    left: 0;
    display: flex;
    border: none;
    border-radius: 100;
}

@keyframes around {        
    25% {
        left: calc(100% - 20px);
        top: 0;
    }
    50% {
        top: calc(100% - 20px);
        left: calc(100% - 20px);
    }
    75%{
        top: calc(100% - 20px);
        left: 0;
    }
}

@keyframes square {
    20%, 80% {
        height: 75px;
        width: 75px;
        opacity: 100%;
    }    
    100% {
        transform: rotate(-720deg);
        left: 90%;
    }
}

.infolettre {
    font-size: 2em;
    position: relative;
}

#infolettre :active, :focus {
    outline: none;
}

.form-infolettre {
    width: 500px;
    height: 275px;
    border-radius: 25px;
    padding: 50px;
    line-height: 100px;
    top: -50px;
    right: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    display: none;
}


.robotsvg {
    width: 300px;
    height: 200px;    
    margin: 50px auto;
}

#svg8{
    overflow: visible;
}

#g42 {
    animation: rollEyes 4s infinite;
    transform-origin: 75px 75px;
}

@keyframes rollEyes {
    20%{
        transform: translate(10px, -14px) rotate(-3deg)

    }

    40%{
        transform: translate(-10px, -14px) rotate(3deg);
    }
}

#rect10 {
    animation: moveHead 4s infinite;
    transform-origin: 75px 75px;
}

@keyframes moveHead {
    20% {
        transform: translate(5px, -4px) rotate(-2deg);
    }
    40% {
        transform: translate(-5px, -4px) rotate(2deg);
    }
}

#rect34 {
    animation: moveNeck 4s infinite;
}

@keyframes moveNeck {
    20% {
        transform: translateX(3px);
    }
    40% {
        transform: translateX(-3px);
    }
}